Repository BF-FrontEnd-class/agile-development-group3-loruki-rebuild, pull requests merged in 2023-05, with the labels that each got.

#9 add project definition
  .cspell.json
  README.md
Labels: planning, md

#10 Constraints
  planning/constraints.md
Labels: planning, md

#11 add communication.md
  planning/communication.md
Labels: planning, md

#13 add backlog
  planning/backlog.md
Labels: planning, md

#14 Design
  planning/design.md
  public/img/docs.png
  public/img/feature.png
  public/img/home.png
Labels: planning, md

#15 development-strategy.md
  planning/development-strategy.md
Labels: planning, md

#23 update communication.md
  planning/communication.md
  planning/development-strategy.md
Labels: planning, md

#71 update
  README.md
  planning/design.md
  planning/development-strategy.md
  public/img/design1.png
  public/img/docs.png
  public/img/feature.png
  public/img/home.png
Labels: planning, md

#73 Home title
  index.html
  styles/something.css
Labels: html, CSS

#75 update development-strategy
  planning/development-strategy.md
Labels: planning, md

#78 update title page
  index.html
  package.json
  styles/something.css
Labels: html, CSS

#80 add features navbar
  pages/features.html
  styles/features.css
Labels: html, development, CSS

#79 Home description
  index.html
  styles/something.css
Labels: html, CSS

#82 add home navbar
  index.html
  pages/features.html
  styles/something.css
Labels: html, development, CSS

#83 add general description
  pages/features.html
  styles/features.css
Labels: html, development, CSS

#86 add description
  .cspell.json
  pages/features.html
  styles/features.css
Labels: html, development, CSS

#88 Form
  index.html
  public/img/design1.png
  styles/something.css
Labels: html, CSS

#90 update navbar
  styles/something.css
Labels: html, development

#91 add features description
  .cspell.json
  pages/features.html
  styles/features.css
Labels: html, development, CSS

#92 add Introduction to docs page
  pages/docs.html
  styles/docs.css
Labels: html, development, CSS

#93 update navbar
  index.html
  styles/something.css
Labels: development

#94 add introduction2
  pages/docs.html
  styles/docs.css
Labels: html, development, CSS

#97 add cloud file
  index.html
  styles/something.css
Labels: html, CSS

#98 Supported languages home
  index.html
  styles/something.css
Labels: html, development, CSS

#100 Extra link
  styles/something.css
Labels: CSS

#103 add footer
  index.html
  pages/docs.html
  pages/features.html
  styles/index.css
  styles/something.css
  styles/utilities.css
Labels: html, CSS

#107 update links, css, readme
  README.md
  index.html
  pages/another-page.html
  pages/docs.html
  pages/features.html
  styles/docs.css
  styles/features.css
  styles/home.css
  styles/index.css
  styles/something.css
  styles/utilities.css
Labels: html, CSS
